<nav>
  <div class="toggle">MENU</div>
  <ul class="links">
    {% assign feedType = page.title|downcase %}
    {% assign feed = site.data.feeds[feedType] %}
    {% for item in feed %}
      {% assign linkTitle = item[0] | replace: '-', ' ' %}
      <li>
        <a href="#{{item[0]}}">{{linkTitle}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
