{% assign news = site.data.feeds.news %}
{% for file in news %}
  <div class="grid" id="{{file[0]}}">
    <h2>{{file[0]|replace: '-', ' '}}</h2>
    <ul class="grid__items grid__item--news">
      {% for item in file[1]['articles'] %}
        <li data-title="{{item.title|escapse}}">
          <a data-id="{{item.title|md5}}" target="_blank" href="{{item.url}}"><h3>{{item.title}}</h3></a>
          {% if item.description %}
            <p class="news-details">
              {{item.description}}
            </p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
