html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: benton-sans,"Helvetica Neue",helvetica,arial,sans-serif;
  background: #222;
}

.container {
  margin-top: 4rem 1rem;
  padding: 1rem;
}

h1, h2 {
  color: $pink;
  text-transform: uppercase;
}

h1 {
  border-bottom: 4px solid $light-blue;
  border-top: 4px solid $light-blue;
  margin-top: 1rem;
  text-align: center;
  width: 100%;

  @media (min-width: 53em) {
    margin: 5rem auto 0 auto;
  }
}

h2 {
  border-left: 4px solid $pink;
  border-bottom: 2px solid $pink;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  width: 100%;

  @media (min-width: 37.5em) {
    flex-direction: column;
  }
}

a {
  color: $light-blue;
  text-decoration: none;

  &:hover, .active {
    color: $dark-blue;
    text-decoration: underline;
  }
}


img {
  margin: 1rem auto;
  height: 100%;
  width: 100%;
}
