.grid {
  padding-top: 2rem;
  width: 100%;

  @media (min-width: 53em) {
    padding-top: 4.5rem;
  }

  h1, h2, h3 {
    color: $light-blue;
    padding: .5rem 1rem;
    margin: 1rem 0;
    text-align: center;
    word-break: break-word;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  &__items li {
    background: $purple;
    box-shadow: 0 0 1.5rem #111;
    height: auto;
    margin: 1rem .5rem;
    text-align: center;
    width: 100%;

    @media (min-width: 37.5em) {
      width: 28%;
    }
  }

  p.news-details {
    background: $purple;
    border-top: 1px solid $pink;
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
  }
}

