.icons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  a {
    margin: 0 auto;
    width: 20%;
  }

  &--bottom {
    align-items: baseline;
    bottom: 0;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    width: 50%;
    z-index: 1;

    @media (min-width: 53em) {
      left: auto;
      justify-content: flex-end;
      right: 0;

      a {
        width: 10%;
      }
    }
  }

  &--bottom a {
    margin: 0 1rem;
  }
}

