nav {
  left: 0;
  position: fixed;
  bottom: 0;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: 53em) {
    bottom: auto;
    top: 0;
  }

  .toggle {
    background: #333;
    border-top: 2px solid $light-blue;
    color: $pink;
    cursor: pointer;
    display: block;
    padding: 1rem;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @media (min-width: 53em) {
      display: none;
    }
  }

  ul.links {
    align-items: center;
    background: $purple;
    bottom: 3.25rem;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: fixed;
    transition: all .5s ease-in-out;

    &.active {
      background: #333;
      display: flex;
      width: 100vw;
    }

    &.active li {
      border-bottom: 1px solid $pink;
      display: block;
      margin: .5rem auto;
      padding: .5rem 0;
      width: 47%;
    }

    @media (min-width: 54em) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      padding: .5rem 0;
      position: relative;
      top: 0;
      width: 100vw;
    }
  }

  ul.links li {
    text-align: center;
    width: 100%;

    @media (min-width: 37.5em) {
      width: auto;
      margin: .5rem 1rem .5rem;
    }
  }
}
