.search {
  display: none;
  transition: .5s all ease-in-out;

  &.show {
    align-items: center;
    background: #000;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    left: 0;
    opacity: .7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }

  input[name=q] {
    background: $purple;
    border: none;
    color: #fff;
    font-size: 8vh;
    height: 10vh;
    margin: 0 auto;
    outline: 0;
    padding: 1rem;
    position: absolute;
    top: 3vh;
    text-align: center;
    width: 80vw;
  }

  #close {
    background: $dark-blue;
    border: none;
    bottom: 2vh;
    color: #fff;
    font-weight: 700;
    font-size: 4vh;
    font-weight: 700;
    padding: 1rem;
    position: absolute;
    width: 20vw;
  }

  #matches {
    background: $purple;
    color: #fff;
    position: absolute;
    width: 80vw;
  }
}
