<!DOCTYPE html>
<html lang="en">
  <head>
    {% seo %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body {% if page.title == "Home" %}style="height: 100vh;"{% endif %}>
    {% include nav.html %}
    <div class="container">
      {{content}}
    </div>
    {% include search.html %}
    {% include ga.html %}
    <script src="/js/site.js"></script>
  </body>
</html>
